
<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
	<a  href="#" class="m-menu__link m-menu__toggle">
		<i class="m-menu__link-icon flaticon-line-graph"></i>
		<span class="m-menu__link-text">
			External Reports
		</span>
		<i class="m-menu__hor-arrow la la-angle-down"></i>
		<i class="m-menu__ver-arrow la la-angle-right"></i>
	</a>
	<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
		<span class="m-menu__arrow m-menu__arrow--adjust"></span>
		<ul class="m-menu__subnav">
			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'chefmaster-report' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-graph"></i>
					<span class="m-menu__link-text">
						ChefMaster
					</span>
				</a>
			</li>
		</ul>
	</div>
</li>
