<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
	<a  href="#" class="m-menu__link m-menu__toggle">
		<i class="m-menu__link-icon flaticon-add"></i>
		<span class="m-menu__link-text">
			Actions
		</span>
		<i class="m-menu__hor-arrow la la-angle-down"></i>
		<i class="m-menu__ver-arrow la la-angle-right"></i>
	</a>
	<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
		<span class="m-menu__arrow m-menu__arrow--adjust"></span>
		<ul class="m-menu__subnav">
<!-- 			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'new-product' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						Add New Product
					</span>
				</a>
			</li> -->
			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'master-list' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-file"></i>
					<span class="m-menu__link-text">
						Update Product Values
					</span>
				</a>
			</li>
<!-- 												<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
				<a  href="../../../header/actions.html" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-diagram"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Generate Reports
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--success">
									2
								</span>
							</span>
						</span>
					</span>
				</a>
			</li> -->
			<!-- <li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-business"></i>
					<span class="m-menu__link-text">
						Manage Orders
					</span>
					<i class="m-menu__hor-arrow la la-angle-right"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
					<span class="m-menu__arrow "></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Latest Orders
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Pending Orders
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Processed Orders
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Delivery Reports
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Payments
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Customers
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li> -->
<!-- 			<li class="m-menu__item  m-menu__item--submenu"  data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-chat-1"></i>
					<span class="m-menu__link-text">
						Customer Feedbacks
					</span>
					<i class="m-menu__hor-arrow la la-angle-right"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
					<span class="m-menu__arrow "></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Customer Feedbacks
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Supplier Feedbacks
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Reviewed Feedbacks
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Resolved Feedbacks
								</span>
							</a>
						</li>
						<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
							<a  href="../../../header/actions.html" class="m-menu__link ">
								<span class="m-menu__link-text">
									Feedback Reports
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
				<a  href="../../../header/actions.html" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-users"></i>
					<span class="m-menu__link-text">
						Register Member
					</span>
				</a>
			</li> -->
		</ul>
	</div>
</li>


<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
	<a  href="#" class="m-menu__link m-menu__toggle">
		<i class="m-menu__link-icon flaticon-line-graph"></i>
		<span class="m-menu__link-text">
			Reports
		</span>
		<i class="m-menu__hor-arrow la la-angle-down"></i>
		<i class="m-menu__ver-arrow la la-angle-right"></i>
	</a>
	<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
		<span class="m-menu__arrow m-menu__arrow--adjust"></span>
		<ul class="m-menu__subnav">
			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'break-even' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-refresh"></i>
					<span class="m-menu__link-text">
						Break Even 
					</span>
				</a>
			</li>
			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'wp-report' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-diagram"></i>
					<span class="m-menu__link-text">
						Weekly Profitability 
					</span>
				</a>
			</li>
			<li class="m-menu__item "  aria-haspopup="true"> 
<!-- 				{% url 'dk-report' %}
 -->				<a  href="http://data.commercelabs.co/admin/KPI" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-graph"></i>
					<span class="m-menu__link-text">
						Daily KPI 
					</span>
				</a>
			</li>
		</ul>
	</div>
</li>

<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
	<a  href="#" class="m-menu__link m-menu__toggle">
		<i class="m-menu__link-icon flaticon-line-graph"></i>
		<span class="m-menu__link-text">
			External Reports
		</span>
		<i class="m-menu__hor-arrow la la-angle-down"></i>
		<i class="m-menu__ver-arrow la la-angle-right"></i>
	</a>
	<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
		<span class="m-menu__arrow m-menu__arrow--adjust"></span>
		<ul class="m-menu__subnav">
			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'chefmaster-report' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-graph"></i>
					<span class="m-menu__link-text">
						ChefMaster
					</span>
				</a>
			</li>
<!-- 												<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'wp-report' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-diagram"></i>
					<span class="m-menu__link-text">
						Weekly Profitability 
					</span>
				</a>
			</li>
			<li class="m-menu__item "  aria-haspopup="true">
				<a  href="{% url 'dk-report' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-graph"></i>
					<span class="m-menu__link-text">
						Daily KPI 
					</span>
				</a>
			</li> -->
		</ul>
	</div>
</li>
<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
	<a  href="#" class="m-menu__link m-menu__toggle">
		<i class="m-menu__link-icon flaticon-paper-plane"></i>
		<span class="m-menu__link-title">
			<span class="m-menu__link-wrap">
				<span class="m-menu__link-text">
					Apps
				</span>
<!-- 													<span class="m-menu__link-badge">
					<span class="m-badge m-badge--brand m-badge--wide">
						new
					</span>
				</span> -->
			</span>
		</span>
		<i class="m-menu__hor-arrow la la-angle-down"></i>
		<i class="m-menu__ver-arrow la la-angle-right"></i>
	</a>
	<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
		<span class="m-menu__arrow m-menu__arrow--adjust"></span>
		<ul class="m-menu__subnav">
			<li class="m-menu__item "  data-redirect="true" aria-haspopup="true">
				<a  href="{% url 'backend-tool' %}" class="m-menu__link ">
					<i class="m-menu__link-icon flaticon-business"></i>
					<span class="m-menu__link-text">
						Backend Tool
					</span>
				</a>
			</li>
			

		</ul> 
	</div>
</li>
								