{% extends "base.html" %}
{% load static %}
{% block content %}
<style>

</style>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
	
	<div class="m-grid__item m-grid__item--fluid m-wrapper">
		<!-- BEGIN: Subheader -->
		
		<!-- END: Subheader -->
		<div class="m-content">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Backend Keywords
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="m-form m-form--label-align-right" method="post">
                            {% csrf_token %}
                            <div class="m-portlet__body">
                                <div class="m-form__section m-form__section--first">
                                    <div class="m-form__heading">
                                        <h3 class="m-form__heading-title">
                                            Search:
                                        </h3>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            ASIN:
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control m-input" name="asin" placeholder="ASIN">
                                            <span class="m-form__help">
                                                Please enter the ASIN
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-primary">
                                                Search
                                            </button>
                                            <button type="reset" class="btn btn-secondary">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- list product keywords -->
                            <table class="table m-table m-table--head-separator-primary">
                                <tr>
                                    <th>ASIN</th>
                                    <th>Keywords</th>
                                    <th>Created Date</th>
                                </tr>
                                {% for pkw in pkws %}
                                <tr>
                                    <td>{{pkw.asin}}</td>
                                    <td pkw-id="{{pkw.id}}" pkw-status="{{pkw.status}}" class="{{ pkw.status.split|join:'-' }}">
                                        {% if pkw.status == 'In Progress' %}
                                        <div id="spinner_{{pkw.id}}" class="m-spinner"></div>
                                        {% endif %}

                                        {{pkw.keywords}}
                                    </td>
                                    <td>{{pkw.created_date}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <!-- end::list product keywords -->

                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
    var getKeywordUpdates = function(keyword_td){
        console.log('processing');
        product_kw_id=keyword_td.attr('pkw-id')
        console.log(product_kw_id);
        $.ajax({
            url:"{% url 'get-product-kw-updates' %}",
            type:"get",
            data:{'product_kw_id':product_kw_id},
            success:function(data){
                if(data.status=='Completed')
                {
                    keyword_td.html(data.keywords)
                }
                else{
                    setTimeout(getKeywordUpdates, 17000, keyword_td);
                }

            }
        });
        
    };
    
    $(document).ready(function(){
        $('.In-Progress').each(function(){
            keyword_td=$(this);
            getKeywordUpdates(keyword_td)
        });
    });
</script>
{% endblock %}