{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
	.no-wrap{white-space: nowrap;}
</style>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
	
	<div class="m-grid__item m-grid__item--fluid m-wrapper">
		
		<div class="m-content">
			
			<div class="m-portlet m-portlet--mobile m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="wp_report_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								CHEFMASTER PROFIT
								<small>
									
								</small>
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								
								<li class="m-portlet__nav-item">
									<a id="fullscreenBtn" href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Fullscreen">
										<i class="la la-expand"></i>
									</a>
								</li>
							</ul>
						</div>
					
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
						<iframe class="airtable-embed" src="https://airtable.com/embed/shrKJZ3mICyGx358c?backgroundColor=teal&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="620" style="background: transparent; border: 0px solid #ccc;"></iframe>
					<!--end: Datatable -->
				</div>
			</div>

			<div class="m-portlet m-portlet--mobile m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="wp_report_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								CHEFMASTER INVENTORY
								<small>
									
								</small>
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								
								<li class="m-portlet__nav-item">
									<a id="fullscreenBtn" href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Fullscreen">
										<i class="la la-expand"></i>
									</a>
								</li>
							</ul>
						</div>
					
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<iframe class="airtable-embed" src="https://airtable.com/embed/shrXZFq8NwstrncxE?backgroundColor=teal&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="620" style="background: transparent; border: 0px solid #ccc;"></iframe>
					<!--end: Datatable -->
				</div>
			</div>

			<div class="m-portlet m-portlet--mobile m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="wp_report_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								CHEFMASTER Gallery
								<small>
									
								</small>
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
							<ul class="m-portlet__nav">
								
								<li class="m-portlet__nav-item">
									<a id="fullscreenBtn" href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Fullscreen">
										<i class="la la-expand"></i>
									</a>
								</li>
							</ul>
						</div>
					
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<iframe class="airtable-embed" src="https://airtable.com/embed/shrFzCSgt0rfU7KEw?backgroundColor=blue&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="650" style="background: transparent; border: 0px solid #ccc;"></iframe>
					<!--end: Datatable -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}