{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
#hdmissingProductsTable, #hdproductTable{z-index: 2;}
#productTable thead{}
</style>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
	
	<div class="m-grid__item m-grid__item--fluid m-wrapper">
		<!-- BEGIN: Subheader -->

		<!-- END: Subheader -->
		<div class="m-content">
            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Add New/Missing Products
                                    </h3>
                                </div>
                            </div>
                            
                        </div>
                        <!--begin::Form-->
                        <form class="m-form m-form--label-align-right" method="post">
                            {% csrf_token %}
                            <!-- list product keywords -->
                            <table class="table table-striped m-table m-table--head-bg-danger" id="missingProductsTable">
                                <thead>
                                    <tr>
                                        <th>SKU</th>
                                        <th>Account</th>
                                        <th>ASIN</th>
                                        <th>Country</th>
                                        <th>COGL/Unit</th>
                                        <th>COGS/Unit</th>
                                        <th>Status</th>
                                        <th>Launch Date</th>
                                        <th>FBA Fee</th>
                                        <!-- <th>Amz Status</th> -->
                                        <th>Add</th>
                                    </tr>
                                </thead>
                                {% for product_not_in_db in products_not_in_db %}
                                <tr>
                                    <td>
                                        {{product_not_in_db.sku}}
                                        <input type="hidden" class="sku" value="{{product_not_in_db.sku}}">
                                    </td>
                                    <td>
                                        {{product_not_in_db.Account}}
                                        <input type="hidden" class="account" value="{{product_not_in_db.Account}}">
                                    </td>
                                    <td>
                                        {{product_not_in_db.asin}}
                                        <input type="hidden" class="asin" value="{{product_not_in_db.asin}}">
                                    </td>
                                    <td>
                                        {{product_not_in_db.Country}}
                                        <input type="hidden" class="country" value="{{product_not_in_db.Country}}">
                                    </td>
                                    <td>
                                        <div class="" style="width:70px">
                                            <input type="text" class="form-control m-input cogl" placeholder="0.00">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:70px">
                                            <input type="text" class="form-control m-input cogs" placeholder="0.00">
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control m-bootstrap-select m_selectpicker status">
                                            <option value=""></option>
                                            {% for status in status_list %}
                                            <option value="{{status}}">{{status}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <div class="" style="width:120px">
                                            <input type="text" class="form-control m-input launch-date" placeholder="MM/DD/YYYY">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:70px">
                                            <input type="text" class="form-control m-input fba-fee" placeholder="0.00">
                                        </div>
                                    </td>
                                    <!--
                                    <td>
                                        <div class="" style="width:120px">
                                            <select class="form-control m-bootstrap-select m_selectpicker amz-status">
                                                <option value=""></option>
                                                {% for status in amz_status_list %}
                                                <option value="{{status}}">{{status}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    -->
                                    <td>
                                        <button type="button" class="add-product-btn btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
                                            <i class="la la-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>
                                        <div class="" style="width:200px">
                                        <input type="text" class="form-control m-input sku" placeholder="SKU" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:80px">
                                        <select class="form-control m-bootstrap-select m_selectpicker account">
                                            <option value=""></option>
                                            {% for account in accounts %}
                                            <option value="{{account.account}}">{{account.account}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:160px">
                                        <input type="text" class="form-control m-input asin" placeholder="ASIN" value="">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:80px">
                                        <select class="form-control m-bootstrap-select m_selectpicker country">
                                            <option value=""></option>
                                            {% for country in countries %}
                                            <option value="{{country.country}}">{{country.country}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:70px">
                                            <input type="text" class="form-control m-input cogl" placeholder="0.00">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:70px">
                                            <input type="text" class="form-control m-input cogs" placeholder="0.00">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:120px">
                                        <select class="form-control m-bootstrap-select m_selectpicker status">
                                            <option value=""></option>
                                            {% for status in status_list %}
                                            <option value="{{status}}">{{status}}</option>
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:120px">
                                            <input type="text" class="form-control m-input launch-date" placeholder="MM/DD/YYYY">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="" style="width:70px">
                                            <input type="text" class="form-control m-input fba-fee" placeholder="0.00">
                                        </div>
                                    </td>
                                    <!--
                                    <td>
                                        <div class="" style="width:120px">
                                            <select class="form-control m-bootstrap-select m_selectpicker amz-status">
                                                <option value=""></option>
                                                {% for status in amz_status_list %}
                                                <option value="{{status}}">{{status}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </td>
                                    -->
                                    <td>
                                        <button type="button" class="add-new-product-btn btn btn-primary m-btn m-btn--icon btn-sm m-btn--icon-only m-btn--pill m-btn--air">
                                            <i class="la la-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <!-- end::list product keywords -->
                            <!--
                            <button type="submit" class="btn btn-primary m-btn m-btn--custom">
                                Save
                            </button>
                        -->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Master Product List
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!-- products table -->
                        <table class="table table-striped m-table m-table--head-bg-success" id="productTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>SKU</th>
                                    <th>Account</th>
                                    <th>COGL/Unit</th>
                                    <th>COGS/Unit</th>
                                    <th>Status</th>
                                    <th><span style="white-space:nowrap">Launch Date</span></th>
                                    <th>FBA Fee</th>
                                    <!--<th>extra</th>-->
                                    <th>Actions</th>
                                    
                                </tr>
                            </thead>
                            {% for product in products %}
                            <tr>
                                <td>
                                    <input type="hidden" class="id" value="{{product.id}}">
                                    <input type="hidden" class="product-id" value="{{product.product_id}}">
                                    {{product.product_id}}
                                </td>
                                <td>
                                    <input type="hidden" class="sku" value="{{product.sku}}">
                                    {{product.sku}}
                                </td>
                                <td>
                                    <input type="hidden" class="account" value="{{product.account}}">
                                    {{product.account}}
                                </td>
                                <td>
                                    <div class="" style="width:120px">
                                        <input type="text" class="form-control m-input cogl"  {% if product.cogl is None %} placeholder="0.00" {% else %} value="{{product.cogl}}" {% endif %}>
                                    </div>
                                </td>
                                <td>
                                    <div class="" style="width:120px">
                                        <input type="text" class="form-control m-input cogs"  {% if product.cogs is None %} placeholder="0.00" {% else %} value="{{product.cogs}}" {% endif %}>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control m-bootstrap-select m_selectpicker status">
                                        <option value=""></option>
                                        {% for status in status_list %}
                                        <option value="{{status}}" {% if status == product.status %} selected {% endif %}>{{status}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <div class="" style="width:120px">
                                        <input type="text" class="form-control m-input launch-date" placeholder="MM/DD/YYYY" value="{{product.launch_date_m_d_y}}">
                                    </div>
                                </td>
                                <td>
                                    <div class="" style="width:100px">
                                        <input type="text" class="form-control m-input fba-fee" placeholder="0.00" value="{{product.expected_fulfillment_fee_per_unit}}">
                                    </div>
                                </td>
                                <!--
                                <td>
                                    <div class="" style="width:120px">
                                        <select class="form-control m-bootstrap-select m_selectpicker amz-status">
                                            <option value=""></option>
                                            {% for status in amz_status_list %}
                                            <option value="{{status}}" {% if status == product.amz_status %} selected {% endif %}>{{status}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                            -->
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="save-product-btn btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only ">
                                            <i class="la la-save"></i>
                                        </button>
                                        <button type="button" class="delete-product-btn btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only ">
                                            <i class="la la-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <!--end: products table-->

                    </div>
                    <!--end::Portlet-->
                </div>
            </div>

		</div>
	</div>
</div>
{% endblock %}
{% block script %}

<script src="{% static 'freezeheader/js/jquery.freezeheader.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        $('#productTable').freezeHeader({'offset' : '71px'});
        $('#missingProductsTable').freezeHeader({'offset' : '71px'});
        $('.launch-date').datepicker({
            todayHighlight: true,
            orientation: "bottom left",
            templates: {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        });
        $('.m_selectpicker').selectpicker();
        $('.add-product-btn').click(function(){
            btn=$(this);
            btn.addClass('m-loader')
            tr=$(this).parent().parent();
            data={
                sku:tr.find('input.sku').val(),
                asin:tr.find('input.asin').val(),
                account:tr.find('input.account').val(),
                country:tr.find('input.country').val(),
                cogl:tr.find('input.cogl').val(),
                cogs:tr.find('input.cogs').val(),
                status:tr.find('select.status').val(),
                launchDate:tr.find('input.launch-date').val(),
                fbaFee:tr.find('input.fba-fee').val(),
                //amzStatus:tr.find('select.amz-status').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.ajax({
                url:"{% url 'cogel-page-add-product-to-db' %}",
                type:"POST",
                data:data,
                success:function(){
                    tr.remove();
                    toastr.success("Saved successfully");
                },
                error:function(xhr, status, error){
                    toastr.error(xhr.responseText);
                },
                complete:function(){
                    btn.removeClass('m-loader')
                }
            });
        });


        $('.add-new-product-btn').click(function(){
            btn=$(this);
            btn.addClass('m-loader')
            tr=$(this).parent().parent();
            data={
                sku:tr.find('input.sku').val(),
                account:tr.find('select.account').val(),
                country:tr.find('select.country').val(),
                asin:tr.find('input.asin').val(),
                cogl:tr.find('input.cogl').val(),
                cogs:tr.find('input.cogs').val(),
                status:tr.find('select.status').val(),
                launchDate:tr.find('input.launch-date').val(),
                fbaFee:tr.find('input.fba-fee').val(),
                //amzStatus:tr.find('select.amz-status').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.ajax({
                url:"{% url 'add-new-product-to-db' %}",
                type:"POST",
                data:data,
                success:function(){
                    tr.find('input.id').val('');
                    tr.find('input.sku').val('');
                    tr.find('select.account option:selected').prop('selected', false);
                    tr.find('select.country option:selected').prop('selected', false);
                    tr.find('input.asin').val('');
                    tr.find('input.cogl').val('');
                    tr.find('input.cogs').val('');
                    tr.find('select.status option:selected').prop('selected', false);
                    tr.find('input.launch-date').val('');
                    tr.find('input.fba-fee').val('');
                    toastr.success("Saved successfully");
                },
                error:function(xhr, status, error){
                    toastr.error(xhr.responseText);
                },
                complete:function(){
                    btn.removeClass('m-loader')
                }
            });
        });

        $('.save-product-btn').click(function(){
            btn=$(this);
            btn.addClass('m-loader')
            tr=$(this).parent().parent().parent();
            data={
                id:tr.find('input.id').val(),
                productId:tr.find('input.product-id').val(),
                sku:tr.find('input.sku').val(),
                account:tr.find('input.account').val(),
                cogl:tr.find('input.cogl').val(),
                cogs:tr.find('input.cogs').val(),
                status:tr.find('select.status').val(),
                launchDate:tr.find('input.launch-date').val(),
                fbaFee:tr.find('input.fba-fee').val(),
                //amzStatus:tr.find('select.amz-status').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.ajax({
                url:"{% url 'cogl-page-update-product' %}",
                type:"POST",
                data:data,
                success:function(){
                    
                    //success message
                    toastr.success("Saved successfully");
                },
                error:function(xhr, status, error){
                    toastr.error(xhr.responseText);
                },
                complete:function(){
                    btn.removeClass('m-loader')
                }
            });
        });

        $('.delete-product-btn').click(function(){
            
            if(!confirm("Are you sure, want to delete this record ?"))
                return 0;

            btn=$(this);
            btn.addClass('m-loader')
            tr=$(this).parent().parent().parent();
            data={
                id:tr.find('input.id').val(),
                productId:tr.find('input.product-id').val(),
                sku:tr.find('input.sku').val(),
                account:tr.find('input.account').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            };
            $.ajax({
                url:"{% url 'delete-product' %}",
                type:"POST",
                data:data,
                success:function(){
                    //success message
                    tr.remove();
                    toastr.success("Deleted successfully");
                },
                error:function(xhr, status, error){
                    toastr.error(xhr.responseText);
                },
                complete:function(){
                    btn.removeClass('m-loader')
                }
            });
        });
    });
</script>
{% endblock %}