{% extends "base.html" %}
{% load static %}
{% block content %}
<style>

</style>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
	
	<div class="m-grid__item m-grid__item--fluid m-wrapper">
		<!-- BEGIN: Subheader -->
		
		<!-- END: Subheader -->
		<div class="m-content">
			
			<div class="m-portlet m-portlet--mobile m-portlet--head-solid-bg m-portlet--head-sm" data-portlet="true" id="wp_report_portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Weekly Profit Report
								<small>
									
								</small>
							</h3>
						</div>
					</div>
					
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							
							<li class="m-portlet__nav-item">
								<a id="fullscreenBtn" href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon" title="" data-original-title="Fullscreen">
									<i class="la la-expand"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-xl-8 order-2 order-xl-1">
								<div class="form-group m-form__group row align-items-center">
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label class="m-label m-label--single">
													Account:
												</label>
											</div>
											<div class="m-form__control">
												<select class="form-control m-bootstrap-select" multiple id="m_form_account">
													<option value="all">
														All
													</option>
													{% for account in accounts %}
													<option value="{{account.0}}">
														{{account.0}}
													</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label class="m-label m-label--single" style="white-space:nowrap">
													Start Date
												</label>
											</div>
											<div class="m-form__control">
												<input type='text' class="form-control" id="daterangepicker_start_date" readonly placeholder="Select time" type="text"/>
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="m-form__group m-form__group--inline">
											<div class="m-form__label">
												<label>
													SKU:
												</label>
											</div>
											<div class="m-form__control">
												<select class="form-control m-bootstrap-select" multiple id="m_form_sku">
													<option value="all">
														All
													</option>
													{% for sku in skus %}
													<option value="{{sku.0}}">
														{{sku.0}}
													</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="d-md-none m--margin-bottom-10"></div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!--end: Search Form -->
<!--begin: Datatable -->
					<div class="m_datatable fixed-data-table" id="ajax_data"></div>
					<!--end: Datatable -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	var update_wp_report_url="{% url 'update-wp-report' %}";
</script>
<script src="{% static 'DataTables/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static 'freezeheader/js/jquery.freezeheader.js' %}" type="text/javascript"></script>
<script src="{% static 'js/reports/weekly_profit.js' %}" type="text/javascript"></script>
<!-- <script src="{% static 'assets/demo/default/custom/components/forms/widgets/bootstrap-daterangepicker.js' %}" type="text/javascript"></script>-->

{% endblock %}